@use "./variable.scss" as *;


.mainContainer {

    display: flex;
    flex-direction: column;
    align-items: center;
}


.playArea {

    width: 70%;
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 2px solid red;


    &_block {
        margin: 5%;
        border: 3px solid black;
        text-align: center;
        height: 80%;
        font-size: 100px;
        background-color: white;
        }

    &_block-1 {
        grid-area: 1 / 1 / 2 / 2;
    }
   
    &_block-2{
        grid-area: 1 / 2 / 2 / 3;
    }

    &_block-3{
        grid-area: 1 / 3 / 2 / 4;
    }

    &_block-4{
        grid-area: 2 / 1 / 3 / 2;
    }

    &_block-5{
        grid-area: 2 / 2 / 3 / 3;
    }

    &_block-6{
        grid-area: 2 / 3 / 3 / 4;
    }

    &_block-7{
        grid-area: 3 / 1 / 4 / 2;
    }

    &_block-8{
        grid-area: 3 / 2 / 4 / 3;
    }

    &_block-9{
        grid-area: 3 / 3 / 4 / 4;
    }


};

.scoreCard {
    border: 2px solid red;
    justify-content: center;
    display: grid;
    width: 60%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.playerName {
 font-size: large;
 text-align: center;
}

.playerScore {
    text-align: center;
}

#playerName1 {
    color: $primary-color;
    grid-area: 1 / 1 / 2 / 2;

}

#playerName2 {
    color: $secondary-color;
    grid-area: 1 / 2 / 2 / 3;
}

#player1Score {
    grid-area: 2 / 1 / 3 / 2;
}

#player2Score {
    grid-area: 2 / 2 / 3 / 3;
}