@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@700&display=swap');

$primary-font: 'Alexandria', 'sans-serif';

$background-color: white;
$color-black: #000000;
$color-white: #ffff;
$primary-color: red;
$secondary-color: blue;

$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;
$large-desktop-breakpoint: 1440px;
$extra-large-desktop-breakpoint: 2560px;
