@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@700&display=swap');

$primary-font: 'Alexandria', 'sans-serif';



.colors1 { 
--background-color: #f0e2ba;
--color-black: #d79922;
--color-white: #c5cbe4;
--primary-color: #4057a1;
--secondary-color: #f23c1f;
}

.colors2 {
    --background-color: #55423d;
    --color-black: #ffc0ad;
    --color-white: #fff3ec;
    --primary-color: #e78fb3;
    --secondary-color: #9656a1;

}

.colors3 { 
    --background-color: #cbfafe;
    --color-black: #96caf0;
    --color-white: #55bdca;
    --primary-color: #11df6e;
    --secondary-color: #fc4445;
}


.colors4 {
    --background-color: #edf5e1;
    --color-black: #8ee5af;
    --color-white: #5cdc95;
    --primary-color: #389584;
    --secondary-color: #05386c;
}

.colors5 {
    --background-color: #1a1a1c;
    --color-black: #c3083f;
    --color-white: #6f2232;
    --primary-color: #950741;
    --secondary-color: #4e4e50;
}

.colors6 { 
    --background-color: #0f0e17;
    --color-black: #fffffe;
    --color-white: #f25f4c;
    --primary-color: rgb(162, 88, 4);
    --secondary-color: #950538;
}


$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;
$large-desktop-breakpoint: 1440px;
$extra-large-desktop-breakpoint: 2560px;
