@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@700&display=swap');

$primary-font: 'Alexandria', 'sans-serif';

.colors1{ 
--background-color: #49414d;
--color-black: #fad800;
--color-white: #ac44f2;
--primary-color: #42a1f8;
--secondary-color: #20b614;
}

.colors2 {
    --background-color: #1e2606;
    --color-black: #1f6521;
    --color-white: #a4a71f;
    --primary-color: #539110;
    --secondary-color: #d6ce14;

}

.colors3 { 
    --background-color: #cbfafe;
    --color-black: #96caf0;
    --color-white: #55bdca;
    --primary-color: #3fefe8;
    --secondary-color: #fc4445;
}


.colors4 {
    --background-color: #edf5e1;
    --color-black: #8ee5af;
    --color-white: #5cdc95;
    --primary-color: #389584;
    --secondary-color: #05386c;
}

.colors5 {
    --background-color: #1a1a1c;
    --color-black: #c3083f;
    --color-white: #6f2232;
    --primary-color: #950741;
    --secondary-color: #4e4e50;
}

.colors6 { 
    --background-color: #f0e2ba;
    --color-black: #d79922;
    --color-white: #c5cbe4;
    --primary-color: #4057a1;
    --secondary-color: #f23c1f;
}


$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;
$large-desktop-breakpoint: 1440px;
$extra-large-desktop-breakpoint: 2560px;
